---
---

@import "{{ site.theme }}";

/* Aumentar largura do site */
.wrapper {
  max-width: 1400px;
  width: 95%;
}

section {
  width: 900px;
  max-width: 95% ;
}

img.logo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

body {
  background-color: #f2f2f2; /* cinza mais claro */
  color: #000000; /* fonte preta */
}

/* ===== TEXT ===== */
h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

p, li {
  color: #000000;
}

/* ===== SIDEBAR ===== */
.sidebar {
  background-color: #e5f4f4; /* levemente diferente para destacar */
}

/* ===== LINKS ===== */
a {
  color: #0A66C2; /* mantém azul */
}
